@define-color rosewater #a89f8a;
@define-color flamingo  #3a3632;
@define-color pink      #4a443f;
@define-color mauve     #4f4a44;
@define-color red       #8f3320;
@define-color maroon    #4d4038;
@define-color peach     #3e6b46;
@define-color yellow    #a89f8a;
@define-color green     #4a443f;
@define-color teal      #5c5549;
@define-color sky       #3a3632;
@define-color sapphire  #4d4038;
@define-color blue      #3e6b46;
@define-color lavender  #a89f8a;

@define-color base alpha(#0e1013, 0.9);
@define-color surface alpha(#0e1013, 0.95);
@define-color text #e0dbc5;
@define-color hoverBg alpha(@background, 0.9);
@define-color hoverFg #0e1013;
@define-color activeBg alpha(@background, 0.9);
@define-color activeFg #0e1013;
@define-color shadow alpha(@backgroud, 0.15);
@define-color textColor1 #93DA97;
@define-color textColor2 #FDF5AA;
@define-color textColor3 #FF8282;

@import "../../.cache/wal/colors-waybar.css";
* {
  all: unset;
  font-size: 01rem;
  font-weight: 500;
  font-family:
    'otf-font-awesome',
    'FiraCode Nerd Font', 
    'FiraCode Nerd Font Mono',
    'Symbols Nerd Font',
    'Symbols Nerd Font Mono',
    JetBrainsMonoNerdFont,
    Font Awesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-clip: border-box;
}

button {
  min-width: 32px;
  min-height: 32px;
  border-radius: 999px;
  color: @color15;
  box-shadow: 0px 0px 8px 4px @shadow inset;
  transition:
    all 50ms cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 50ms ease-in-out,
    background-color 200ms ease-in-out;
}

button:hover {
  color: @hoverFg;
  background: @hoverBg;
}

button.active {
  color: @activeFg;
  background: @activeBg;
}

tooltip {
  opacity: 1;
}
/* span { */
/*   background-color: #ff0000; */
/* } */

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin-right: 8px;
}

/* #custom-appmenu, */
/* #quicklinks, */
#media,
#hardware,
#clock,
#tray,
#custom-notification {
  background-color: @background;
  border-radius: 999px;
  box-shadow: 0px 0px 8px 4px @shadow inset;
}

#media,
#tray,
#hardware,
#clock {
  padding: 0 8px;
}

#pulseaudio.mic{
  padding-right: 0.5rem;
}

#backlight{
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  padding-left: 0.5rem;
  margin-bottom: .2rem;
}

#custom-power{
  background-color: @background;
  border-radius: 999px;
  padding: 0 1rem;
  box-shadow: 0px 0px 8px 4px @shadow inset;
  color: @color10;
}

#media{
  color: @color12;
}

#clock{
  color: @color12
}

#workspaces button, #hardware{
  color: @color15
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
#custom-quicklink1 {
  /* margin-left: 0; */
}

#cpu,
#memory,
#battery {
  padding: 0.5rem 0.5rem;
}

#tray icons{
  padding: 0.5rem 0.5rem;
}

#tray menu,
#clock calendar
{
  padding: 1rem 1rem;
  background-color: @background;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 4px @shadow inset;
}

#custom-appmenu,
#custom-notification {
  font-size: 24px;
  min-width: 32px;
  min-height: 32px;
  padding-right: 4px;
  border-radius: 999px;
}

#workspaces button {
  margin-right: 2px;
}
#workspaces button:last-child {
  margin-right: 0;
}

#taskbar {
  font-weight: normal;
  font-style: normal;
}

@keyframes blink {
  to {
    background-color: @activeBg;
  }
}

#battery.critical:not(.charging) {
  background-color: @activeBg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @activeBg;
}

label:focus {
  background-color: @activeBg;
}

#quicklinks {
}

#temperature.critical {
  color: red;
}

